// fonts:
$roboto:'Roboto', sans-serif;
$lora:'Lora', serif;

// colours:
$black:rgb(44,44,44);
$darkGB:rgb(40,94,100);
$orangeyY:rgb(246,168,35);
$grey:rgb(79,79,79);
$accent:rgb(5,175,193);
$rust:rgb(168,39,6);
$whiteS:rgb(240,239,237);

*{
    margin:0;
    padding:0;
}

html{
    font-size:62.5%;
}

.wrapper{
    max-width:1300px;
    width:93%;
    margin:0 auto;
}

body,
a{
    color:$black;
}

a{
    text-decoration:none;
}

body{
    font-family:$roboto;
    font-size:2rem;
    line-height:3.2rem;
}

h1,
header nav,
.about a,
.things a,
.blog a,
.things h2,
.info h2,
.blogTop h2,
.about h2,
.blog h2,
aside h3,
#submit,
footer p{
    font-weight:bold;
}

header nav,
.about a,
.things a,
.blog a,
.things h2,
.info h2,
.blogTop h2,
.about h2,
.blog h2,
aside h3,
#submit,
footer p{
    letter-spacing:1px;;
}

.about a,
.things a,
.blog a,
#submit{
    line-height:3.2rem;
}

.things h2,
.info h2,
.blogTop h2,
.sophie{
    font-size:3.2rem;
}

.about a,
.things a,
.blog a,
#submit,
footer p{
    text-align:center;
}

aside h3,
footer p{
    font-size:2.4rem;
}

header ul,
.headerBot,
.thingsTop,
.thingsBot,
.photos{
    display:flex;
    flex-wrap:wrap;
}

.headerBot,
.photos{
    justify-content:space-between;
}

.about a,
.things a,
.blogBot a{
    padding:1rem 2rem;
}