header nav{
    line-height:2.9rem;
    text-align:right;
}

header li{
    list-style:none;
    margin-right:5rem;
    padding:10px 0;
}

header li:last-child{
    margin:0;
}

.sophie,
h1{
    font-family:$lora;
}

h1{
    font-size:13rem;
    line-height:9.2rem;
}

#blogHeader,
#contactHeader{
    background-size:contain;
    background-repeat:no-repeat;
    min-height:100vh;
}

#blogHeader{
    background-image:url(../Sophie/assets/assets/blog-image-1.jpg);
}

#contactHeader{
    background-image:url(../Sophie/assets/assets/contact-image-1.jpg);
}

header ul{
    justify-content:center;
    margin-bottom:5rem;
}