.about h2,
.blog h2{
    font-size:4.2rem;
}

.blog > img{
    width:100%;
}

.about,
.things,
.blogBot,
.photos{
    padding:10rem 0;
}

#indexMain p{
    padding:1.5rem 0 3rem 0;
}

.about a,
.things a,
.blogBot a{
    padding:1.3rem 2rem;
}

.thingsTop div,
.thingsBot div{
    width:39%;
}

.thingsBot div{
    text-align:right;
}

.blogBot div:nth-child(2){
    width:65%;
    margin-top:2.3rem;
}

