@media (max-width:1374px){
    
    .thingsTop img{
        top:0;
    }
    
    .thingsTop div,
    .thingsBot div{
        margin-top:7rem;
    }

    .thingsBot img{
        bottom:-2rem;
    }
}

@media (max-width:1307px){

    .photos{
        justify-content:space-evenly;
    }

    .photos img{
        margin-bottom:2.5rem;
    }

    .photos img:last-child{
        margin-bottom:0;
    }
}

@media (max-width:1274px){
    
    #indexHeader h1{
        font-size:9rem;
    }
}

@media (max-width:1256px){
    
    .things{
        padding:8rem 0;
    }

    .thingsTop{
        flex-direction:column;
    }

    .thingsBot{
        flex-direction:column-reverse;
    }

    .about .wrapper,
    .thingsTop div,
    .thingsBot div{
        width:95%;
        text-align:center;
    }

    .thingsTop div,
    .thingsBot div,
    .thingsTop img,
    .thingsBot img{
        margin:0 auto;
    }

    .thingsTop div{
        margin-top:5rem;
    }

    .thingsBot div{
        margin-top:7rem;
    }

    .thingsTop img,
    .thingsBot img{
        width:calc(100% / 2);
    }
}

@media (max-width:1106px){
    
    .headerBot div > img{
        top:4rem;
    }

    #indexHeader h1{
        margin:-2.5rem 0 0 8rem;
        padding:0;
    }

    .headerBot div ~ img{
        width:calc(100% / 2);
        margin:0 auto;
        bottom:0;
        right:0;
    }
}

@media (max-width:1042px){
    
    .blogBot{
        flex-direction:column;
    }

    .blogBot img,
    .blogBot div:last-child{
        margin:0 auto;
    }

    .blogBot h2{
        margin-top:4rem;
    }

    .blogBot div:last-child{
        text-align:center;
        width:95%;
    }
}

@media(max-width:900px){
    
    .about,
    .info,
    .blogBot,
    .photos{
        padding:5rem 0;
    }

    .things{
        padding:3rem 0;
    }
}

@media (max-width:797px){
    
    .infoTop,
    .infoBot{
        flex-direction:column;
    }

    .infoTop section,
    .infoBot section{
        width:95%;
    }
}

@media (max-width:649px){
    // Make burger menu here!
}