html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1300px;
  width: 93%;
  margin: 0 auto;
}

img {
  height: auto;
  display: block;
}

body,
a {
  color: #2c2c2c;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
}

h1,
header nav,
.about a,
.things a,
.blog a,
.things h2,
.info h2,
.blogTop h2,
.about h2,
.blog h2,
aside h3,
#submit,
footer p {
  font-weight: bold;
}

header nav,
.about a,
.things a,
.blog a,
.things h2,
.info h2,
.blogTop h2,
.about h2,
.blog h2,
aside h3,
#submit,
footer p {
  letter-spacing: 1px;
}

.about a,
.things a,
.blog a,
#submit {
  line-height: 3.2rem;
}

.things h2,
.info h2,
.blogTop h2,
.sophie {
  font-size: 3.2rem;
}

.about a,
.things a,
.blog a,
#submit,
footer p {
  text-align: center;
}

aside h3,
footer p {
  font-size: 2.4rem;
}

.about a,
.things a,
.blogBot a {
  padding: 1rem 2rem;
}

.headerBot div + img,
.headerBot div > img,
#blogHeader h1,
#contactHeader h1,
.thingsTop img,
.thingsBot img {
  position: relative;
}

header ul,
.headerBot,
.thingsTop,
.thingsBot,
.infoTop,
.infoBot,
.infoTop section,
.infoBot section,
.blogBot,
.photos,
#contactMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.headerBot,
.thingsTop,
.thingsBot,
.blogBot,
.photos {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

Header nav,
#indexHeader,
.fas {
  background-color: #f6a823;
}

.about,
.info,
.blog,
#contactBody,
#blogBody {
  background-color: #f0efed;
}

.about a,
.things a,
.blogBot a,
#submit {
  background-color: #05afc1;
}

.things,
.photos,
.contactTop,
.blogAbout,
.blogPosts,
.blogTop,
.comment1,
.comment2 {
  background-color: white;
}

span {
  color: #285e64;
}

.fab {
  color: #f6a823;
}

.thingsTop img {
  -webkit-box-shadow: -110px 20px #a82706, 20px 20px #a82706;
          box-shadow: -110px 20px #a82706, 20px 20px #a82706;
}

.thingsBot img {
  -webkit-box-shadow: 110px 20px #f6a823, 20px 20px #f6a823;
          box-shadow: 110px 20px #f6a823, 20px 20px #f6a823;
}

.blogBot img {
  -webkit-box-shadow: 20px 20px #f6a823;
          box-shadow: 20px 20px #f6a823;
}

header nav {
  line-height: 2.9rem;
  text-align: right;
}

header li {
  list-style: none;
  margin-right: 5rem;
  padding: 10px 0;
}

header li:last-child {
  margin: 0;
}

.sophie,
h1 {
  font-family: "Lora", serif;
}

.headerBot h1 {
  font-size: 13rem;
  padding: 9rem 0 0 11.5rem;
}

h1 {
  font-size: 8rem;
}

h1 {
  line-height: 9.2rem;
}

#blogHeader,
#contactHeader {
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#blogHeader {
  background-image: url(../Sophie/assets/assets/blog-image-1.jpg);
}

#contactHeader {
  background-image: url(../Sophie/assets/assets/contact-image-1.jpg);
}

#blogHeader,
#contactHeader {
  background-position: 0 53px;
}

.headerBot div + img {
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
  bottom: -6rem;
  right: 5rem;
}

.headerBot div > img {
  top: 22rem;
  left: 3rem;
}

#blogHeader h1,
#contactHeader h1 {
  bottom: -27.1rem;
}

header ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about h2,
.blog h2 {
  font-size: 4.2rem;
}

.blog > img {
  width: 100%;
}

.about,
.info,
.blogBot,
.photos {
  padding: 10rem 0;
}

#indexMain p {
  padding: 1.5rem 0 3rem 0;
}

.about a,
.things a,
.blogBot a {
  padding: 1.3rem 2rem;
}

.thingsTop div,
.thingsBot div {
  width: 39%;
}

.thingsTop div {
  margin: 12.5rem 3rem 0 0;
}

.thingsBot div {
  text-align: right;
  margin: 3rem 0 0 5rem;
}

.blogBot div:nth-child(2) {
  width: 65%;
  margin-top: 2.3rem;
}

.thingsTop img {
  top: -5rem;
}

.thingsBot img {
  bottom: -3rem;
}

.fas {
  padding: 1.5rem;
  border-radius: 50%;
}

.infoTop section,
.infoBot section {
  width: 50%;
}

.infoTop div,
.infoBot div {
  width: 80%;
  margin: 1rem 0 0 2rem;
}

.contactTop {
  width: 25%;
  padding: 4rem 0 0 3rem;
}

.contactTop i {
  font-size: 3rem;
  margin-right: 2rem;
}

.contactTop p:nth-of-type(1) {
  margin: 1rem 0;
}

.contactBot {
  width: 60%;
}

footer {
  background-color: #2c2c2c;
  color: #f0efed;
}
